<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/nifty.min.css" rel="stylesheet">
        <link href="/static/bootstrap/themify-icons/themify-icons.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/pace.min.css" rel="stylesheet">
    </head>
    <body>


        <!--JAVASCRIPT-->
        <script src="/static/bootstrap/js/pace.min.js"></script>
        <script src="/static/bootstrap/js/jquery-2.2.4.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap/js/nifty.min.js"></script>
    </body>
</html>