<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>

        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/nifty.min.css" rel="stylesheet">
        <link href="/static/bootstrap/themify-icons/themify-icons.min.css" rel="stylesheet">
        <link href="/static/bootstrap/css/pace.min.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">

    </head>
    <body>

        <section class="hero" id="hero">
        <div class="container">

          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
              <h1 class="animated bounceInDown">欢迎来到阿振博客</h1>
                <div style="height: 100px"></div>
              <p class="animated fadeInUpDelay" style="font-size: 24px">谦虚地说着“献丑”，却往往献出了最珍贵的东西。你永远不知道，这句口是心非，需要多么大的努力!</p>
            </div>
          </div>
            <div style="height: 280px"></div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <a href="" class="get-started-btn">GO</a>
            </div>
          </div>
        </div>
      </section>
        <section class="design" id="design">
            <div class="container" id="essay_list">

            </div>
        </section>

        <footer style="padding-bottom: 35px">
        <div class="container">
          <div class="row">
            <div class="col-md-4 text-center">
              <ul class="footer-nav">
                <li><a href="https://github.com/AZName" target="_blank">GitHub</a></li>
                  <li><a href="http://www.cnblogs.com/azhen/" target="_blank">博客园</a></li>
              </ul>
            </div>
            <div class="col-md-3 text-center">
              <ul class="footer-nav">
                <li><a href="https://baidu.com" target="_blank">help</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-md-offset-3 text-center">
              <ul class="footer-nav">
                <li><a href="Mailto:964190389@qq.com">邮箱</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <p class="footer-credit">© 2017 <a href="https://github.com/AZName/" target="_blank">阿振</a> | 粤ICP   <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action?spm=5176.7737023.2.2.TpGyQO&file=indexFirst.action" target="_blank">备16121989号</a></p>
            </div>
          </div>
        </div>
      </footer>

        <!--JAVASCRIPT-->
        <script src="/static/bootstrap/js/pace.min.js"></script>
        <script src="/static/bootstrap/js/jquery-2.2.4.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap/js/nifty.min.js"></script>
    </body>
</html>